<html>
<head>
    <title>allauth_keycloak_example</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}!</h1>
        <form action="{% url 'account_logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <ul>
            <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
            <li><a href="{% url 'account_email' %}">Account Email</a></li>
        </ul>
    {% else %}
        <h1>Welcome, guest!</h1>
        <ul>
            <li><a href="{% url 'account_login' %}">Login</a></li>
            <li><a href="{% url 'account_signup' %}">Sign up</a></li>
            <li><a href="{% url 'account_reset_password' %}">Change Reset</a></li>
        </ul>
    {% endif %}
    
</body>
</html>